{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Deleted Data</h3>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Deleted Data</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a href="/" class="btn btn-outline-success mb-2 me-2">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Page Toolbar End//-->
<!--//Page content//-->
<div class="content p-4 pb-0 d-flex flex-column-fluid position-relative">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">

                <!--//Card start//-->
                <div class="card overflow-hidden">
                    <a href="/dltamt" class="card-body d-flex align-items-center justify-content-between" >
                        <div
                            class="flex-shrink-0 size-60 text-success rounded-pill me-3 d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-rupee fs-4"></i>
                        </div>
                        <div class="flex-grow-1 text-start">
                            <h5 class="mb-0 fw-normal">Amount</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <!--//Card start//-->
                <div class="card overflow-hidden">
                    <a href="/dltpro" class="card-body d-flex align-items-center justify-content-between">
                        <div
                            class="flex-shrink-0 size-60 text-primary rounded-pill me-3 d-flex align-items-center justify-content-center">
                            <i class="bi bi-pin-map-fill fs-4"></i>
                        </div>
                        <div class="flex-grow-1 text-start">
                            <h5 class="mb-0 fw-normal">Products</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">

                <!--//Card start//-->
                <div class="card overflow-hidden">
                    <a href="/dltcus" class="card-body d-flex align-items-center justify-content-between">
                        <div
                            class="flex-shrink-0 size-60 text-info rounded-pill me-3 d-flex align-items-center justify-content-center">
                            <i class="bi bi-people fs-4"></i>
                        </div>
                        <div class="flex-grow-1 text-start">
                            <h5 class="mb-0 fw-normal">Customers</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <!--//Card start//-->
                <div class="card overflow-hidden">
                    <a href="/dltexp" class="card-body d-flex align-items-center justify-content-between">
                        <div
                            class="flex-shrink-0 size-60 text-danger rounded-pill me-3 d-flex align-items-center justify-content-center">
                            <i class="bi bi-dropbox fs-4"></i>
                        </div>
                        <div class="flex-grow-1 text-start">
                            <h5 class="mb-0 fw-normal">Expenses</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Page content End//-->
{% endblock content %}