{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Purchase Data</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Purchase Data</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <button type="button" class="btn btn-outline-success mb-2 me-2" data-bs-toggle="modal"
                        data-bs-target="#examplescrolling">Add Data</button>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center><h3 class="text-success">{{message}}</h3></center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12">
                <div class="card" id=''>
                    <div class="table-responsive">
                        <table id="exampletab" class="table mt-0 table-striped table-card table-nowrap">
                            <thead class="text-uppercase small text-muted">
                                <tr>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Product</th>
                                    <th>Rate</th>
                                    <th>Weight</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data %}
                                <tr>
                                    <td>{{i.datepurchas}}</td>
                                    <td>{{i.seller_name}}</td>
                                    <td>{{i.product_name}}</td>
                                    <td>{{i.rate}}</td>
                                    <td>{{i.w_amount}} {{i.weight}}</td>
                                    <td>{{i.amount}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th><b>Total Amount</b></th>
                                    <th>{{ttl}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//Page content End//-->
<!--//Page content//-->
<div class="content p-4 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <div class=" overflow-hidden">
                    <div class="card-body">
                        <div class="modal fade" id="examplescrolling" tabindex="-1"
                            aria-labelledby="examplescrollingLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="examplescrollingLabel">Add Data</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form method="post" class="p-3" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row mb-4 mt-2">
                                            <label class="col-md-4 text-md-end" for="BlogDate">Name :</label>
                                            <div class="col-md-8 col-lg-6">
                                                <div>
                                                    <input type="text" class="form-control" name="seller_name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-4 text-md-end" for="BlogImage">Product Name :</label>
                                            <div class="col-md-8 col-lg-6">
                                                <select class="form-select" name="product_name"
                                                    aria-label="Default select example">
                                                    <option selected disabled>select product</option>
                                                    {% for i in pro %}
                                                    {% if i.status == 0 %}
                                                    <option value="{{i.name}}">{{i.name}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-4 text-md-end" for="BlogImage">Rate :</label>
                                            <div class="col-md-8 col-lg-6">
                                                <input type="number" class="form-control" name="rate">
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-4 text-md-end" for="BlogImage">Weight :</label>
                                            <div class="col-md-8 col-lg-6">
                                                <select class="form-select" name="weight"
                                                    aria-label="Default select example">
                                                    <option selected disabled>select product</option>
                                                    <option value="KG">KG</option>
                                                    <option value="Quintal">Quintal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-md-4 text-md-end" for="BlogImage">Weight Amount:</label>
                                            <div class="col-md-8 col-lg-6">
                                                <input type="number" class="form-control" name="w_amount">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Page content End//-->

{% endblock content %}