{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 pb-0">
  <div class="position-relative container-fluid px-0">
    <div class="row align-items-center position-relative">
      <div class="col-md-5 mb-4 mb-md-0">
        <h3 class="mb-2">{{product_name}} Details & Rate : {{rate}}</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Product</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-7 col-3 text-md-end">
        <div class="d-flex justify-content-md-end align-items-center">
            <a href="/stock" class="btn btn-outline-success mb-2 me-2">Back</a>
        </div>
    </div>
    </div>
  </div>
</div>
<!--//Page Toolbar End//-->

<!--//Page content//-->
<div class="content p-4 pb-0 d-flex flex-column-fluid">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="content p-4 d-flex flex-column-fluid">
            <div class="container-fluid px-0">
              <div class="row">
                <div class="col-12">
                  <div class="" id=''>
                    <div class="table-responsive">
                      <table class="table mt-0 table-striped table-card table-nowrap">
                        <thead class="text-uppercase small text-muted">
                          <tr>
                            <th>Date</th>
                            <th>name</th>
                            <th>Weight</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in pur %}
                          {% if i.product_name == cdt.name %}
                          {% if i.rate == rate %}
                          <tr>
                            <td>{{i.datepurchas}}</td>
                            <td>{{i.seller_name}}</td>
                            <td>{{i.w_amount}} {{i.weight}}</td>
                            <td>{{i.amount}}</td>
                          </tr>
                          {% endif %}
                          {% endif %}
                          {% endfor %}
                          <tr>
                            <td></td>
                            <td></td>
                            <td><b>Total Amount</b></td>
                            <td>{{ttl}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--//Page content End//-->

{% endblock content %}